<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Strings</key>
	<array>
		<string>0.000 s</string>
		<string>0.001 s</string>
		<string>0.002 s</string>
		<string>0.003 s</string>
		<string>0.004 s</string>
		<string>0.005 s</string>
		<string>0.006 s</string>
		<string>0.007 s</string>
		<string>0.008 s</string>
		<string>0.009 s</string>
		<string>0.01 s</string>
		<string>0.02 s</string>
		<string>0.03 s</string>
		<string>0.04 s</string>
		<string>0.05 s</string>
		<string>0.06 s</string>
		<string>0.07 s</string>
		<string>0.08 s</string>
		<string>0.09 s</string>
		<string>0.1 s</string>
		<string>0.2 s</string>
		<string>0.3 s</string>
		<string>0.4 s</string>
		<string>0.5 s</string>
		<string>0.6 s</string>
		<string>0.7 s</string>
		<string>0.8 s</string>
		<string>0.9 s</string>
		<string>1 s</string>
		<string>2 s</string>
		<string>3 s</string>
		<string>4 s</string>
		<string>5 s</string>
	</array>
	<key>Values</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
		<integer>200</integer>
		<integer>300</integer>
		<integer>400</integer>
		<integer>500</integer>
		<integer>600</integer>
		<integer>700</integer>
		<integer>800</integer>
		<integer>900</integer>
		<integer>1000</integer>
		<integer>2000</integer>
		<integer>3000</integer>
		<integer>4000</integer>
		<integer>5000</integer>
	</array>
</dict>
</plist>
