<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string</key>
		<string>1/8000</string> 
		<key>value</key>
		<real>0.12</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/6400</string> 
		<key>value</key>
		<real>0.16</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/5000</string> 
		<key>value</key>
		<real>0.2</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/4000</string> 
		<key>value</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/3200</string> 
		<key>value</key>
		<real>0.31</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/2500</string> 
		<key>value</key>
		<real>0.4</real>
	</dict> 
	<dict>
		<key>string</key>
		<string>1/2000</string> 
		<key>value</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/1600</string> 
		<key>value</key>
		<real>0.63</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/1250</string> 
		<key>value</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/1000</string> 
		<key>value</key>
		<real>1</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/800</string> 
		<key>value</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/640</string> 
		<key>value</key>
		<real>1.56</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/500</string> 
		<key>value</key>
		<real>2</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/400</string> 
		<key>value</key>
		<real>2.5</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/320</string> 
		<key>value</key>
		<real>3.13</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/250</string> 
		<key>value</key>
		<real>4</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/200</string> 
		<key>value</key>
		<real>5</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/160</string> 
		<key>value</key>
		<real>6.25</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/125</string> 
		<key>value</key>
		<real>8</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/100</string> 
		<key>value</key>
		<real>10</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/80</string> 
		<key>value</key>
		<real>13</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/60</string> 
		<key>value</key>
		<real>17</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/50</string> 
		<key>value</key>
		<real>20</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/40</string> 
		<key>value</key>
		<real>25</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/30</string> 
		<key>value</key>
		<real>33</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/25</string> 
		<key>value</key>
		<real>40</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/20</string> 
		<key>value</key>
		<real>50</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/15</string> 
		<key>value</key>
		<real>67</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/13</string> 
		<key>value</key>
		<real>77</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/10</string> 
		<key>value</key>
		<real>100</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/8</string> 
		<key>value</key>
		<real>125</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/6</string> 
		<key>value</key>
		<real>167</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/5</string> 
		<key>value</key>
		<real>200</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1/4</string> 
		<key>value</key>
		<real>250</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;3</string> 
		<key>value</key>
		<real>300</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;4</string> 
		<key>value</key>
		<real>400</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;5</string> 
		<key>value</key>
		<real>500</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;6</string> 
		<key>value</key>
		<real>600</real>
	</dict>
	<dict>
		<key>string</key>
		<string>0&quot;8</string> 
		<key>value</key>
		<real>800</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1s</string> 
		<key>value</key>
		<real>1000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1&quot;3s</string> 
		<key>value</key>
		<real>1300</real>
	</dict>
	<dict>
		<key>string</key>
		<string>1&quot;6s</string> 
		<key>value</key>
		<real>1600</real>
	</dict>
	<dict>
		<key>string</key>
		<string>2s</string> 
		<key>value</key>
		<real>2000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>2&quot;5s</string> 
		<key>value</key>
		<real>2500</real>
	</dict>
	<dict>
		<key>string</key>
		<string>3&quot;2s</string> 
		<key>value</key>
		<real>3200</real>
	</dict>
	<dict>
		<key>string</key>
		<string>4s</string> 
		<key>value</key>
		<real>4000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>5s</string> 
		<key>value</key>
		<real>5000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>6s</string> 
		<key>value</key>
		<real>6000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>8s</string> 
		<key>value</key>
		<real>8000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>10s</string> 
		<key>value</key>
		<real>10000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>13s</string> 
		<key>value</key>
		<real>13000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>15s</string> 
		<key>value</key>
		<real>15000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>20s</string> 
		<key>value</key>
		<real>20000</real>
	</dict>
	<dict>
		<key>string</key>
		<string>25s</string> 
		<key>value</key>
		<real>25000</real>
	</dict> 
	<dict>
		<key>string</key>
		<string>30s</string> 
		<key>value</key>
		<real>30000</real>
	</dict>    
</array>
</plist>
